<h2>About WebParser.</h2>
<p>
  The WebParser is a simple web interface with elegant client-orieted interface. 
 <p>
 	The main algorithm of web parsing pre-defined pages allow to get top 10 games and details in description for the worldknown devices: Iphone, Android, Windows phone and Ipad.
 </p>

</p>

<p>
	<h5>Thank you for choosing my product.</h5>
	<h6>All rigths reserved to Anton Romanov(c)</h6>

	<%= link_to "Back to homepage!", home_path, class: "btn btn-large btn-primary" %>
</p>
