<!DOCTYPE html>
<head>
  <link type="text/css" href="app\assets\stylesheets\homepage.css.scss" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montaga' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="about">
		<h2>About WebParser.</h2>
		<p>
  			The WebParser is a simple web interface with elegant client-orieted interface.<br /> 
 			The main algorithm of web parsing pre-defined pages allow to get top 10 games and details in description for the worldknown devices: Iphone, Android, Windows phone and Ipad.
 			Thank you for choosing my product.<br/ >
 		</p>
 		<div class="license">
			<h4>All rigths reserved to Anton Romanov(c)</h4>
  			<h3>
    			<button><%= link_to "Back to Homepage!", home_path, class: "btn btn-large btn-primary" %></button>
  			</h3>
		</div>	
	</div>

</body>