<!DOCTYPE html>
<head>
  <link type="text/css" href="app\assets\stylesheets\homepage.css.scss" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Montaga' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="about">
		<h2>About WebParser.</h2>
		<p>
  		  The WebParser is a simple web interface with elegant client-orieted interface.<br /> <br/ >
 			The main algorithm of web parsing pre-defined pages allow to get top 10 games and details in description for the worldknown devices: Iphone, Android, Windows phone and Ipad.
 			Thank you for choosing my product.<br/ ><br/ >

      Special thanks to Anton Savvyer, without his help, knowledges and patience nothing (from technical side) would not be made.
 		</p>
  </div>


    <div class="license">
      <h6>All rigths reserved to Anton Romanov(c)</h6>
        <h3>
        <%= link_to "Back to Homepage!", home_path, class: "btn-custom btn-small btn-primary" %>
        </h3>
    </div>
	

</body>